.card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Deeper secondary shadow for a stronger elevation */
  
    // transition: box-shadow 0.3s ease; /* Smooth shadow transition */


    &.elevation-0 {
        box-shadow: none;
      }
      &.elevation-2 {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      }
      &.elevation-4 {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
      }
    
      &.rounded {
        border-radius: 8px;
      }
      &.rounded-lg {
        border-radius: 16px;
      }
      &.rounded-xl {
        border-radius: 24px;
      }
    
      .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
    
      .card-subtitle {
        font-size: 1rem;
        color: #666;
        margin-bottom: 1rem;
      }
    
      .card-content {
        flex: 1;
      }
    
      .card-actions {
        display: flex;
        justify-content: flex-end;
        padding-top: 16px;
      }
  }
  .card:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2), 0px 10px 30px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
  }